html, body {  
  font-family: Baloo, Helvetica, sans-serif;    
  background-image: url("./bgnd.jpg");
  background-color: #1c0000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h5 {
  font-weight: 500;
}

.main {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  opacity: 0.95;
  margin: 16px auto;
  padding: 16px 32px;  
  width: 80%;  
  max-width: 1024px;
  box-shadow: 0 0 4px 0 #000;
}

.btn-text-snd {  
  margin: 4px 16px;
  font-size: 12px;  
  color: #000;
}

.grid-container {
  display: grid;
}

.grid-item {
  display: inline-grid;  
}

.btn-apps {
  background-color: #ffeeee;
  border: 1px solid #cc3333;
  border-radius: 8px;
  width: auto;
  margin: 8px;
  padding: 16px;
  box-shadow: 0 0 4px 0 #999;
}
/*LINK STYLE*/
a {
  font-size: 1em;
  color: #cc0033;
  text-decoration: none;
}
a:visited {
  color: #cc0033;
  text-decoration: none;
}
a:hover {
  color: #ff9933;
  text-decoration: none;
}
a:active {
  color: #0000ff;
  text-decoration: none;
  box-shadow: 0 0 8px 0 #0000ff;
}
/*END LINK STYLE*/