html, body {
  font-family: Segoe UI, Helvetica, sans-serif;
}

h5 {
  font-weight: 500;
}

.main {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  opacity: 0.95;
  margin: 16px auto;
  padding: 16px 32px;  
  width: 80%;  
  max-width: 1024px;
  box-shadow: 0 0 4px 0 #000;
}

.btn-apps-div {
  text-align: center;
  font-size: 1.55rem;
}

.btn-text-snd {
  margin: 4px 16px;
  font-size: 0.95rem;  
  color: #000;
}

.grid-container {
  display: grid;
}

.grid-item {
  display: inline-grid;  
}

.btn-apps {
  background-color: #ffeeee;
  border: none;
  border-radius: 8px;
  width: auto;
  margin: 8px;
  padding: 16px;
  box-shadow: 0 0 4px 0 #999;
}
/*LINK STYLE*/
a {
  font-size: 1rem;
  color: #cc0033;
  text-decoration: none;
}
a:visited {
  color: #cc0033;
  text-decoration: none;
}
a:hover {
  color: #ff6666;
  text-decoration: none;
}
a:active {
  color: #0066ff;
  text-decoration: none;
  box-shadow: 0 0 4px 0 #00ccff;
}
/*END LINK STYLE*/